
.activity{
    display: grid;
    grid-template-columns: 10fr 2fr;
    font-size: 2rem;
}
.workout-list{
    margin: 0 10%;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5%;
}


.header{
    display: flex;
    align-items: center;
    font-size: 1em;

}
.header img{
    width: 10rem;
    height: 10rem;
}


@media screen and (max-width: 1120px) {
    .activity{
        grid-template-columns: repeat(1, 1fr);
    }
    .cards {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 10px;
      margin-bottom: 20px;
    }
    
  }