.profile{
    display: flex;
    align-items: center;
}
.profile img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 20px;
}
.profile p{
    font-weight: 600;
}
.user-name-location small{
    font-weight: 400;
    font-size: large;
}
.user-name-location p{
    font-weight: 600;
    margin: 0;
}
.profile-stats{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #DFF6FF;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}
.profile-stats h3,p{
    margin: 0;
    font-size: 1em;
}
.profile-stats p{
    margin: 0;
    font-size: .5em;
}
.profile-stats small{
    font-weight: 400;
    font-size: large;
}